{% extends "base.html" %}
{% block header %}
<title>STGrillz: Score Attack!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
Score Attack!
{% endblock %}
{% block ad %}
<a class="light" href="http://goo.gl/b1pcga">Official Rules</a>
||
<a class="light" href="http://goo.gl/RCpUJx">Teams</a>
||
<a class="light" href="http://goo.gl/JQlaop">Schedule</a>
{% endblock %}
{% block content %}
<article class="full">
	<h2>ANNOUNCEMENTS</h2>
	<p>
	SukoAta is over for the year! Thanks for playing/watching.
	</p>
<iframe src="https://docs.google.com/forms/d/1PRj90aaI70qlQFrBTDecNio_ykIDjiJHaXApifBheWM/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</article>
<article class="left">
	<h2>Rules</h2>
	<p>For a full breakdown of how things are going to go down, please check out
	the official always-up-to-date
	<a class="dark" href="http://goo.gl/b1pcga">rules</a>.
	</p>
	<p>If you don't want to read all of that,
	below is a brief summary of the tournament format:</p>
	<ul>
		<li>
			I will divide the participants into two teams.
		</li>
		<li>
			Each team will select one player to play in each category I have prescribed.
			The categories are essentially 
			Normal mode scoring (2 hour time limit) and 
			Lunatic mode survival (1 hour time limit)
			in every shooting game from EoSD through DDC 
			(including GFW, not including fighting games or photo games).
		</li>
		<li>
			The two designated players for each category (one from each team)
			will arrange a time they can both play,
			and their gameplay will be showcased in a livestream with commentary.
		</li>
		<li>
			Through formulas prescribed in the official rules,
			a player's performance in their category will result in
			their team receiving some number of points.
		</li>
		<li>
			The team with the most points at the end wins!
		</li>
	</ul>
	<p>
		Hopefully this gives you a decent idea of how this works.
		Please read the official rules though,
		especially in the category you would like to play.
		If anything is still unclear, you can always
		<a href="mailto:yorgje@hellokitty.com?subject=SukoAta">contact me</a>.
	</p>
</article>

<article class="right">
	<h2>FAQ</h2>
	<ul>
		<li>Where is the tourney?</li>
		<p>
		All matches will be streamed from 
		<a class="dark" href="http://www.hitbox.tv/yorgje">yorgje's hitbox</a>.
		</p>
		<li>When is the tourney?</li>
		<p>
			See
			<a class="light" href="http://goo.gl/JQlaop">the schedule</a>
			for exact times when things are being played.
		</p>
		<li>Where the heck do those point formulas come from?</li>
		<p>
			Here's a brief motivation. For the score formulas, 
			the squaring is supposed to model the increased difficulty
			of further raising your score as your score gets higher,
			and the denominator is a scaling factor between games.
			The end digits are truncated because
			everyone just thinks of scores in terms of the top 2 or 3 digits anyways.
		</p>
		<p>
			For the survival formulas, the basic idea is to reward successful
			no-bomb runs, and then to throw in fun bonus points to add
			additional interest at difficult portions.
		</p>
		<li>How will everything be organized?</li>
		<p>
			There are two channels on irc.rizon.net,
			<a class="dark" href="http://mibbit.com/?channel=%23sukoata1&server=irc.rizon.net">#sukoata1</a>
			and
			<a class="dark" href="http://mibbit.com/?channel=%23sukoata2&server=irc.rizon.net">#sukoata2</a>
			where the teams are coordinating.
			Please don't join the channel of the opposing team;
			you will be kicked!
			I am also sending private messages and stuff to people to
			coordinate various little details.
		</p>
		<li>My question isn't here!</li>
		<p>Please always feel free to
		<a href="mailto:yorgje@hellokitty.com?subject=SukoAta">email me</a>
		if you have concerns. </p>
	</ul>
</article>
{% endblock %}
