{% extends "base.html" %}
{% block header %}
<title>STGrillz: PoFV Tourney!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
STGrillz PoFV Tournament - Round 2!
{% endblock %}
{% block ad %}
<a class="light" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz on irc.rizon.net</a>
||
<a class="light" href="http://challonge.com/PowerPofvGrillz2">Bracket on Challonge</a>
{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="half">
    <h2>Terminology</h2>
    <p>I'm not sure what the standard terminology is, if it even exists, but these are the words I will be using on this page and throughout the tourney:</p>
    <ul>
      <li>Game: one viewing of "Dead Parrot"</li>
      <li>Match: Best of three games, i.e. one replay</li>
      <li>Round: Best of three matches, i.e. 2 or 3 replays.</li>
    </ul>
    <h2>Reporting results</h2>
    <p>You have a couple options:</p>
    <ul>
      <li>Upload your replays to <a class="dark" href="http://replays.gensokyo.org/">the replay archive</a>.</li>
      <li>Alternatively, you can <a class="dark" href="http://dropitto.me/yorgje">drop your replays in my dropbox</a> at that link, using the password "stgrillz" to upload. Please zip up all of the replays into an archive named with your name and your opponent's name.
    </ul>
    <p>Regardless of which method you use, the loser of the round should report to me who won, how many matches were won by each participant, and which player was on which side.</p>

    <h2><a name="rules">Rules</a></h2>
    <ul>
      <li>Round robin! Everyone fights everyone else, which will hopefully reduce waiting time.</li>
      <li>Rounds are best of three (two winning replays per round)</li>
      <li><b>Lunatic</b> difficulty.</li>
      <li>All characters are allowed, i.e. no character bans of any sort.</li>
      <li>Characters are not declared beforehand (i.e. counter-picking is allowed).</li>
      <li>You may change characters between matches against the same player</li>
      <li>Players may choose any stage (mutual agreement) or may opt to default to Cirno's</li>
      <li>Players may choose left/right side of screen, or if agreement cannot be reached:
      <ul>
        <li>Player on top of bracket may opt for left or right side for first two matches</li>
        <li>Player on bottom of bracket may opt for left or right side for third match</li>
      </ul>
      </li><li>Do not pause, quit, or alt-tab once a match is underway.</li>
      <ul><li>If you made an incorrect character/stage selection, you may quit but only immediately at the start of the first match.</li></ul>
      <li>You are expected to play one round per day, but you can be up to 7 rounds behind. Thus, you can play all of your rounds for the week on the weekend or something, if that's more convenient. Note that you will need to be more flexible as the tournament goes on, as you will have fewer opponents to pick from. Falling further behind than this will result in immediate disqualification.
      </li>
      <li>Not really a rule, but note that I will <b>not</b> be streaming replays at the end of the tourney, because that would take way too long. I couldn't even get through half of them in the double elimination, they just take forever. Feel free, or perhaps even encouraged, to stream your matches though!</li>
    </ul>

    <h2><a name="netplay">How do I netplay?</a></h2>
    <p>See <a href="http://pastebin.com/nTpD1kf8" class="dark">this page</a> for a brief guide on setting everything up. You will also need to download
    <a class="dark" href="http://www.mediafire.com/download/h45xp2aa2tu5lnn/pofv-adonis1.zip">adonis1</a>,
    <a class="dark" href="https://dl.dropboxusercontent.com/u/11812361/pofv/adonis2.zip">adonis2</a>, and maybe also 
    <a class="dark" href="http://www.mediafire.com/download/mr60xzw417mx385/pofv-vpatch_adonis.zip">vpatch</a> if you so desire.
    If neither you nor your opponent can host, you will need
    <a class="dark" href="https://secure.logmein.com/products/hamachi/">hamachi</a> to play, so get that as well if you can't host.
    <br>
    </p>

    <h2>Past winners:</h2>
    <p><b>chum</b> has claimed victory in the one and only tourney I've hosted thus far.</p>
  </div>
  <div class="half">
    <iframe src="https://docs.google.com/forms/d/1j-9DdoNB5tc72xr_3ERadvC731_vUbeyN_MoWBxz2fo/viewform?embedded=true" width="100%" height="1400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>
{% endblock %}
