{% extends "base.html" %}
{% block header %}
<title>STGrillz: PoFV Tourney!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
STGrillz PoFV Tournament
{% endblock %}
{% block ad %}
<a class="light" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz on irc.rizon.net</a> | 
<a href="http://challonge.com/PowerPofvGrillz" class="light">bracket</a>
{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="half">
    <h2>Instructions</h2>
    <ol>
      <li>READ ALL OF THE RULES.</li>
      <li>
      Look at the bracket 
      <a href="http://challonge.com/PowerPofvGrillz" class="dark">here</a>
      and contact your opponent via the IRC channel, #pofvgrillz on irc.rizon.net. Their web client is broken, so make sure you are using some other IRC client. <a class="dark" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">Mibbit</a> should work just fine.
      </li><li>
      You must play three matches against your opponent (i.e. 2 winning replays, i.e. your opponent sees "Dead Parrot" 4 times). To report your result, you have three options:
      <ul>
        <li>The preferred option is that you upload your replays to my <b>ftp server</b>, in a folder whose name includes both your nick and your opponent's nick:
        <table>
          <tr>
            <td>IP address:</td><td> 128.135.223.20 </td>
            </tr><tr>
            <td>username:</td><td>stgrillz</td>
            </tr><tr>
            <td>password:</td><td>eldesucks</td>
          </tr>
        </table>
        Note that you can't upload by just going to ftp://128.135.223.20, you need to use an FTP client like 
        <a class="dark" href="https://filezilla-project.org/">
          FileZilla.</a>
        </li>
        <li>
        If you can't figure out ftp, you can just upload your replays to your favorite file sharing service (i.e. replays.gensokyo.org), and <b>send me a private message</b> on IRC with the link.
        </li>
        <li>
        If you <b>forget to save a replay</b>, it's fine as long as both you and your opponent agree on who won. The losing player needs to send me a private message on IRC indicating who won your match.
        </li>
      </ul>
    </ol>
    <h2>Finalized Rules</h2>
    <ul>
      <li>Double elimination</li>
      <li>Rounds are best of three (two winning replays per round)</li>
      <li>Seeds are skill-based (i.e. new players vs experienced players in the first round). Geographic location will also be taken into account when matchmaking. Seeds were determined by a script that brute forced matchup combinations, searching for the best matches where experience tiers were given triple weight over time zone differences.</li>
      <li><b>Lunatic</b> difficulty</li>
      <li>All characters are allowed.</li>
      <li>Characters are not declared beforehand (i.e. counter-picking is allowed).</li>
      <li>You may change characters between matches against the same player</li>
      <li>Players may choose any stage (mutual agreement) or may opt to default to Cirno's</li>
      <li>players may choose left/right side of screen, or if agreement cannot be reached:
      <ul>
        <li>Player on top of bracket may opt for left or right side for first two matches</li>
        <li>Player on bottom of bracket may opt for left or right side for third match</li>
      </ul>
      </li><li>Do not pause, quit, or alt-tab once a match is underway.</li>
      <ul><li>If you made an incorrect character/stage selection, you may quit but only immediately at the start of the first match</li></ul>
      <li>You are expected to play at least one round per day, starting on Sunday, June 9 (unless you have a bye). You are allowed to be a day late, but please try to catch up as soon as you can. Coordinate your matches through the irc.
      </li></ul>



      <h2>How do I netplay?</h2>
      <p>See <a href="http://pastebin.com/nTpD1kf8" class="dark">this page</a> for a brief guide on setting everything up. You will also need to download
      <a class="dark" href="http://www.mediafire.com/download/h45xp2aa2tu5lnn/pofv-adonis1.zip">adonis1</a>,
      <a class="dark" href="http://www.mediafire.com/?h32i2k0fcyiyvo8">adonis2</a>, and maybe also 
      <a class="dark" href="http://www.mediafire.com/download/mr60xzw417mx385/pofv-vpatch_adonis.zip">vpatch</a> if you so desire.
      Some people also need 
      <a class="dark" href="https://secure.logmein.com/products/hamachi/">hamachi</a> to play, so get that as well.
      </p>
      <h2>Contact</h2>
      <p>For tech support, practice matches, etc, please visit the <b>#pofvgrillz</b> channel on the Rizon IRC network. I'm platonicSolid over there.
      If you don't know how to use IRC, 
      <a class="dark" href="http://www.twitch.tv/message/compose?to=yorgje">send me a message</a>
      and I'll help you out.
      There's also a <a class="dark" href=http://www.shrinemaiden.org/forum/index.php/topic,14824.0.html>MoTK thread</a> that you can post on.

    </div>
    <div class="half">
      <iframe src="https://docs.google.com/forms/d/10JKgB5KnrKves2OOvCn0e_ebwm22XWJNXJK6U04H36I/viewform?embedded=true" width="100%" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
  {% endblock %}
