{% extends "base.html" %}
{% block header %}
<title>STGrillz: PoFV Tourney!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
STGrillz PoFV Tournament - Round 3!
{% endblock %}
{% block ad %}
<a class="light" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz on irc.rizon.net</a>
<!--
||
<a class="light" href="http://challonge.com/PowerPofvGrillz2">Bracket on Challonge</a>
-->
{% endblock %}
{% block content %}
<article class="full">
    <iframe width="420" height="315" src="//www.youtube.com/embed/AcmB6oPMlH0?rel=0" frameborder="0" allowfullscreen class="video"></iframe>
</article>
  <article class="right">
  <h2>Sign up!</h2>
    <iframe src="https://docs.google.com/forms/d/1pcHEky2eIiyF6mpj31X1RphN4ekidP_DQPLWQsq0B4A/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </article>
  <article class="left">
    <h2>We're back!</h2>
    <p>And thus begins round 3. Please <strong>sign up</strong> to the right for a shot at eternal international fame and glory!</p>
    <p>More detailed rules can be read below the signup, but some key things to notice are:</p>
    <ul>
      <li>First matches will happen <strong>Saturday, Nov 9!</strong>
          Please make sure you know how to use irc before then.
          Send me an <a href="mailto:yorgje@hellokitty.com">email</a> if you need help.
      </li><li>
          The bracket style will be <strong>Round Robin</strong>, with a mini double elim round between the top 4 players!
          So be ready to play a lot of matches. 
          You will be expected to play about one match per day.
      </li><li>
          I am considering <strong>banning Reimu</strong>, possibly only at high latencies.
          I will make a final decision by Nov 8, so get on #pofvgrillz to state your opinions before then.
          <ul>
            <li>
            The main argument against her is overuse: you can look at the
            <a href="/static/pofvgrillz_2_usage_stats.txt">usage statistics</a>
            yourself to see what I'm talking about.
            </li>
            <li>
            Currently, I am leaning towards the ban. 
            If another character becomes overused, we will bring Reimu back, and 
            rely on special condition tourneys to introduce some variety.
            </li>
          </ul>
      </li>
    </ul>
  </article>
  <article class="left">
  <h2>Pre-tourney todo</h2>
  <ul>
    <li>Learn how to connect to <a class="light" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz</a>, where all tournament correspondence and match coordination will take place. 
    </li><li>
    Practice netplay! Latency takes some getting used to, and you should figure out how to set up netplay before the tournament starts. See below for help, or ask on IRC if you're running into trouble.
    </li><li>
    Advertise! This will be more fun with more people, so please make threads on your favorite 2hu forums. At the very least, Arf's beautiful teaser trailer deserves widespread coverage.
    </li>
  </ul>
  </article>
  <article class="right">
  <p>Just for fun, there will be a bonus side tourney. Instead of round robin, it will be single elimination, and you can only use Medicine. You can sign up below:</p>
  <iframe src="https://docs.google.com/forms/d/1-N8b2mByUN5wFXJoM1Yt_v-J9A3ZaoVZH6B8hxnJn3k/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </article>
  <article class="left">
    <h2>How do I netplay?</h2>
    <p>See <a href="http://pastebin.com/vEiF76Pw" class="dark">this pastebin</a> for a brief guide on setting everything up. 
    You should download
    <a class="dark" href="http://www.mediafire.com/download/h45xp2aa2tu5lnn/pofv-adonis1.zip">adonis1</a>,
    <a class="dark" href="https://dl.dropboxusercontent.com/u/11812361/pofv/adonis2.zip">adonis2</a>, and maybe also 
    <a class="dark" href="http://www.mediafire.com/download/mr60xzw417mx385/pofv-vpatch_adonis.zip">vpatch</a> if you so desire.
    If neither you nor your opponent can host, you will need
    <a class="dark" href="https://secure.logmein.com/products/hamachi/">hamachi</a> to play, so get that as well if you can't host.
    </p><p>
    Please let me know if any of these links are broken.
    </p>
  </article>


  <article class="left">
    <h2>Past winners:</h2>
	<ul>
    <li><strong>Zil</strong> - claimed victory in the second tourney during the Summer&nbsp;of&nbsp;2013.
    <a href="http://challonge.com/PowerPofvGrillz2">Full Bracket</a>
    </li>
		<li><strong>chum</strong> - claimed victory in first tourney during the Spring&nbsp;of&nbsp;2013.
    <a href="http://challonge.com/PowerPofvGrillz">Full Bracket</a>
    </li>
	</ul>
  </article>
  <article class="full">
    <h2>Terminology</h2>
    <p>These are the words I will be using on this page and throughout the tourney:</p>
    <ul>
      <li>Game: one viewing of "Dead Parrot"</li>
      <li>Set: Best of three games, i.e. one replay</li>
      <li>Match: Best of three sets, i.e. 2 or 3 replays.</li>
    </ul>

    <h2>Rules</h2>
    <ul>
      <li>Round robin! Everyone fights everyone else. The four players with the most <strong>match wins</strong> will compete in a mini double elimination bracket against each other (seeded by results from the round robin), where their results from this bracket take precedence over their round robin scores. In particular, the winner of this mini bracket will be crowned victor of the whole tourney. 
      
      If a player is disqualified, people who won against that player will lose those wins.</li>
      <li>Matches are best of three sets (two winning replays per match)</li>
      <li><strong>Lunatic</strong> difficulty.</li>
      <li>I am open to discussion regarding potentially banning Reimu, either universally or only at high latency. This will be decided for sure by Nov 8.</li>
      <li>Characters are not declared beforehand (i.e. counter-picking is allowed).</li>
      <li>You may change characters between sets against the same player.</li>
      <li>Players may choose any stage (mutual agreement) or may opt to default to Cirno's.</li>
      <li>If Nindel loses to io, then Nindel must stream!</li>
      <li>Players may choose left/right side of screen, or if agreement cannot be reached:
      <ul>
        <li>Player on top of bracket may opt for left or right side for first two matches</li>
        <li>Player on bottom of bracket may opt for left or right side for third match</li>
      </ul>
      </li><li>Do not pause, quit, or alt-tab once a match is underway.</li>
      <ul><li>If you made an incorrect character/stage selection, you may quit but only immediately at the start of the first match.</li></ul>
      <li>You are expected to play one round per day, but you can be up to <strong>2</strong> rounds behind. Falling further behind than this will result in immediate disqualification.
      </li>
    </ul>
  </article>
{% endblock %}
