{% extends "base.html" %}
{% block header %}
<title>STGrillz: PoFV Tourney!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
STGrillz PoFV Tournament - Round 3!
{% endblock %}
{% block ad %}
<a class="light" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz on irc.rizon.net</a>
||
<a class="light" href="http://challonge.com/PowerPofvGrillz3_FINAL">Final bracket on Challonge</a>
||
<a class="light" href="http://challonge.com/PowerPofvGrillz3_BONUS">Medicine Bracket</a>
{% endblock %}
{% block content %}

  <article class="left">
    <h2>Instructions</h2>
    <h3>Before a match:</h3>
    <p>Here's a checklist of things you will need to ask your opponent before a match:</p>
    <ul>
      <li>
        Is it an official match or a warmup?
      </li>
      <li>
        Who's hosting, and on adonis 1 or 2? The hosting player should then tell the client his ip and port.
      </li><li>
        Side preference? In the case of a disagreement, refer to the rules.
      </li><li>
        Stage? If no preference on either side, default to Cirno's for minimal lag.
      </li>
    </ul>
    <h3>After a match:</h3>
    <p>I'm going to try and automate some things this time to make my life easier, so please follow these directions carefully!</p>
    <ul>
      <li>
        Decide who will upload the replays/results. That person should follow the steps below. The other person should check the bracket in a few hours to make sure that the results are correct.
      </li>
      <li>
        Make a file titled "results.txt" (no quotes), formatted like
        <a href="/static/results.txt">this template</a>,
        i.e. on line 1, include your names where the person on the left was playing P1 in the game,
        and on line 2, report how many rounds each person won. Extra spaces are fine, but please put a dash between the scores and "vs" with no dots between the names.
      </li><li>
        Create a zip archive containing your replays and results.txt, 
        where the title of the zip contains both your and your opponent's names (any order).
        If your match was for the Medicine side-tourney, please indicate that in the zip's filename.
      </li><li>
        Upload your zip archive to <a href="http://www.dropitto.me/yorgje">my dropittome</a>.
        In order to upload, you will need to enter the password "stgrillz"
      </li>
    </ul>
    <p>
    If this is all too much for you, I suppose I will also accept reports by irc /query,
    where the losing player reports who won, what the score was, and who was on which side.
    I would still like you to upload your replays as a zip to 
    <a href="http://www.dropitto.me/yorgje">my dropittome</a>
    or to 
    <a href="http://replays.gensokyo.org/">the replay archive</a> (and give me a link).
    However, I would REALLY prefer that you include your results in a text file, since I have something like 350 matchups to update.
    </p>
  </article>


  <article class="right">
    <h2>Terminology</h2>
    <p>These are the words I will be using on this page and throughout the tourney:</p>
    <ul>
      <li>Game: A moment at the end of which one player has their health reduced to 0 once.</li>
      <li>Set: Best of three games, i.e. one replay</li>
      <li>Match: Best of three sets, i.e. 2 or 3 replays.</li>
    </ul>

    <h2>Rules</h2>
    <ul>
      <li>Round robin! 
      Everyone fights everyone else. 
      The four players with the most <strong>match wins</strong> will compete in a mini double elimination bracket against each other (seeded by results from the round robin), where their results from this bracket take precedence over their round robin scores. In particular, the winner of this mini bracket will be crowned victor of the whole tourney. 
      
      If a player is disqualified, people who won against that player will lose those wins.</li>
      <li>Matches are best of three sets (two winning replays per match)</li>
      <li>Lunatic difficulty.</li>
      <li><strong>Reimu is banned!</strong> If you look at the
          <a href="/static/pofvgrillz_2_usage_stats.txt">usage statistics</a>
          from last time, it's pretty clear that she was used far more often than any other character,
          so to encourage diversity, she is banned this time around.
        </li>
      <li>Characters are not declared beforehand (i.e. counter-picking is allowed).</li>
      <li>You may change characters between sets against the same player.</li>
      <li>Players may choose any stage (mutual agreement) or may opt to default to Cirno's.</li>
      <li>Players may choose left/right side of screen, or if agreement cannot be reached:
      <ul>
        <li>Player on top of bracket may opt for left or right side for first and third matches</li>
        <li>Player on bottom of bracket may opt for left or right side for second match</li>
      </ul>
      </li><li>Do not pause, quit, or alt-tab once a match is underway.</li>
      <ul><li>If you made an incorrect character/stage selection, you may quit but only immediately at the start of the game.</li></ul>
      <li>You are expected to play at least one match per day, but you can be up to <strong>2</strong> matches behind. Falling further behind than this will result in immediate disqualification.
      </li>
    </ul>
  </article>

  <article class="full">
    <h2>How do I netplay?</h2>
    <p>See <a href="http://pastebin.com/vEiF76Pw" class="dark">this pastebin</a> for a brief guide on setting everything up. 
    You should download
    <a class="dark" href="http://www.mediafire.com/download/h45xp2aa2tu5lnn/pofv-adonis1.zip">adonis1</a>,
    <a class="dark" href="https://dl.dropboxusercontent.com/u/11812361/pofv/adonis2.zip">adonis2</a>, and maybe also 
    <a class="dark" href="http://www.mediafire.com/download/mr60xzw417mx385/pofv-vpatch_adonis.zip">vpatch</a> if you so desire.
    If neither you nor your opponent can host, you will need
    <a class="dark" href="https://secure.logmein.com/products/hamachi/">hamachi</a> to play, so get that as well if you can't host.
    </p><p>
    Please let me know if any of these links are broken.
    </p>
  </article>

  <article class="full">
<iframe src="https://docs.google.com/forms/d/1zS2YV-VOfngnJlHGkFZt9lzzDzOM-O5ku2BMafmAnpg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </article>

  <article class="left">
  <iframe width="420" height="315" 
    src="//www.youtube.com/embed/AcmB6oPMlH0?rel=0" 
    frameborder="0" allowfullscreen class="video">
  </iframe>
  </article>

  <article class="right">
    <h2>Past winners:</h2>
	<ul>
    <li><strong>Zil</strong> - claimed victory in the second tourney during the Summer&nbsp;of&nbsp;2013.
    <a href="http://challonge.com/PowerPofvGrillz2">Full Bracket</a>
    </li>
		<li><strong>chum</strong> - claimed victory in first tourney during the Spring&nbsp;of&nbsp;2013.
    <a href="http://challonge.com/PowerPofvGrillz">Full Bracket</a>
    </li>
	</ul>
  </article>
{% endblock %}
