.stream
{
	margin: 0 auto 20px auto;
	width: 650px;/*1015px;*/
}

.stream .content
{
	margin: 0 !important;
}

.col
{
	float: left;
	width: 620px;
	margin: 15px;
}

.stream header
{
	text-align: left;
	min-height: 100px;
	margin-bottom: 15px;
}

.avatar
{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 15px;
}

.stream .video
{
	height: 378px; 
    width: 620px;
	display: block;
	
	float: left;
	clear: left;
	margin-bottom: 15px;
}

.stream .buttons
{
	clear: both;
	width: 100%;
	text-align: justify;
	font-size: 1px; /*haxes haxes*/
	margin-bottom: -2px;
}

.stream .buttons:after 
{
	content: "";
	display: inline-block;
	width: 100%;
}

.stream .buttons *, .placeholder *:first-child
{
	min-width: 19%;
	/*min-width: calc(20% - 5px);*/
}

.remove
{
	float: right;
}

.chat
{
	background-color: #fff;
	border: none;
	overflow: hidden;
	
	width: 350px;
	height: 530px;
	margin: 15px 15px 15px 0;
	float: left;
	
	border-radius: 5px;
}

#main > .buttons
{
	text-align: center;
	margin: 0 auto 20px auto;
}
#main > .buttons *
{
	width: 100px;
}

.pls
{
	display: none;
	background-color: transparent !important;
	padding: 50px 0;
}

.pls h1
{
	font-size: 60px; 
	text-align: center;
}

#main > article:last-of-type.pls
{
	display: block !important;
}