.hidden
{
	display: none !important;
}

body, html
{
	margin: 0;
	background-color: #91AA9D;
	font-family: "Verdana", "Helvetica", sans-serif;
	height: 100%;
	min-width: 650px;
}

h2, h3
{
	margin: 0 0 15px 0;
}

#wrap
{
	min-height: 100%;
}

a
{
	text-decoration: underline;
	color: #3E606F;
}

a:hover
{
	text-decoration: none;
}

/*------header------*/

#wrap > header
{
	width: auto;
	height: 250px;
	background-color: #3E606F;
	overflow: hidden;
}

h1 /*title*/
{
	color: #FFF;
	margin: 0 0 30px 0;
}

#top
{
	height: 250px;
	width: auto;
    overflow: auto;
	margin-right:2.5%;
	text-align: center;
}

#top > div
{
	height: 100%;
	display:table;
	margin: auto;
}

#top > div > div
{
	display:table-cell;
	margin-top: 40px; /*fallback*/
	vertical-align: middle;
}

#logo
{
	height: 250px;
	float: left;
	margin-left:2.5%;
}

@media screen and (max-width: 1050px) 
{
    #logo
	{
		margin-left: 0;
	}
	
	#top
	{
		margin-right: 0;
	}
}

@media screen and (max-width: 800px) 
{
    #logo
	{
		display: none;
	}
}

nav a
{
	color: #91AA9D;
	text-decoration: none;
}

nav a:hover
{
	color: #193441
}

nav a:before
{
	content:"\25CF\00a0";
}

nav a:after
{
	content:"\00a0\25CF";
}

nav ul
{
	padding: 0;
}

nav li
{
	display:inline-block;
	margin: 0 20px;
	
	font-weight: bold;
	padding: 5px;
}

.announcement, .announcement a, .urgent
{
	color: #FF0;
}

/*-----main-----*/

#main
{
	clear: both;
	margin: auto;
	padding-top: 20px;
	
	/*overflow: auto;*/
	padding-bottom: 58px;
}

#main > article
{
	background-color: #D1DBBD;
	border-radius: 10px;
	overflow: hidden;
	text-align: justify;
	margin-bottom: 20px;
}

#main > article > *
{
	margin: 15px;
}

.full
{
	width: 90%;
	margin: 0 5% 20px 5%;
}

.left, .right
{
	width: 44%;
	width: calc(45% - 10px);
}

.left
{
	float: left;
	margin: 0 10px 20px 5%;
}

.right
{
	float: right;
	margin: 0 5% 20px 10px;
}

/*-----article elements-----*/

#main > article:not(.stream) iframe  
{
	border-radius: 5px;
	width: 95%;
	width: calc(100% - 30px);
	display: block;
	margin: 15px auto;
}

.full .video
{
	max-width: 420px;
}

#main > article ul
{
	padding-left: 15px;
}

#main > article li
{
	margin-bottom: 10px;
}

/*-----footer-----*/

footer
{
	color: #fff;
	background-color: #3E606F;
	text-align: center;
	padding: 20px 0;
	clear: both;
	position: relative;
	margin-top: -58px;
}

footer a
{
	color: #fff;
	padding: 0 20px;
	font-weight: bold;
}

/*ctrl+c ctrl+v, me being lazy*/
button, input[type="submit"]
{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3e606f), color-stop(1, #193441));
  background:-moz-linear-gradient(top, #3e606f 5%, #193441 100%);
  background:-webkit-linear-gradient(top, #3e606f 5%, #193441 100%);
  background:-o-linear-gradient(top, #3e606f 5%, #193441 100%);
  background:-ms-linear-gradient(top, #3e606f 5%, #193441 100%);
  background:linear-gradient(to bottom, #3e606f 5%, #193441 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e606f', endColorstr='#193441',GradientType=0);
  
  background-color:#3e606f;
  
  border:1px solid #241d13;
  
  display:inline-block;
  color:#fcfff5;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:3px 5px;
  text-decoration:none;
  margin: 0;
  
  border-radius: 2px;
}

button:hover, input[type="submit"]:hover
{
  
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #193441), color-stop(1, #3e606f));
  background:-moz-linear-gradient(top, #193441 5%, #3e606f 100%);
  background:-webkit-linear-gradient(top, #193441 5%, #3e606f 100%);
  background:-o-linear-gradient(top, #193441 5%, #3e606f 100%);
  background:-ms-linear-gradient(top, #193441 5%, #3e606f 100%);
  background:linear-gradient(to bottom, #193441 5%, #3e606f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#193441', endColorstr='#3e606f',GradientType=0);
  
  background-color:#193441;
  cursor:pointer;
  cursor:hand;
}

button:active, input[type="submit"]:active
{
  position:relative;
  top:1px;
}