{% extends "base.html" %}
{% block header %}
<title>man STGrillz</title>
{% endblock %}
{% block title %}
About This Site
{% endblock %}
{% block content %}
<article class="full">
    <h2>Quickstart</h2>
		<ol>
			<li>
				Go to <a href="/strmlst">the streamlist</a>,
				read the page carefully,
				and then add yourself!
			</li>
			<li>
				Add the string "[stg]" or "[2hu]" to your stream title (no quotes).
			</li>
			<li>
				Enjoy the publicity!
			</li>
		</ol>
    <h2>What does the site do?</h2>
    <p>
    This site is a stream aggregator, i.e. it automatically embeds any of <a
    href="/strmlst">these streams</a> that are currently streaming. It is meant
    exclusively for people who play shmups and, in particular, Touhou games.
    </p>
    <h2>Who built the site?</h2>
    <p>
    I go by the username
    <a href="http://www.twitch.tv/yorgieporgie">yorgieporgie</a>
    around these parts of the internet. I also go by platonicSolid on
    <a href="http://mibbit.com/?channel=%23kusoplay&server=irc.rizon.net">IRC</a>.
    I like to play and discuss Touhou.
    I also enjoy playing violin and ukulele, as well as doing abstract mathematics.
    </p>
    <p>
    If you want to chat about this site or Touhou or anything else, feel free to send me an 
    <a href="mailto:yorgje@hellokitty.com?subject=Hello">email</a>,
    /query platonicSolid on 
    <a href="http://mibbit.com/?channel=%23kusoplay&server=irc.rizon.net">IRC</a>,
    or drop by my stream.
    </p>

    <h2>Who else has worked on this site?</h2>
    <p>First and foremost, I must thank the wonderful streamers who provide all of the content for this site. Thanks!</p>
    <p>I would also like to thank <b>L3pik</b> and <b>io_23</b> for making several beautiful logos! If you would like to make one, I would be happy to add it to the selection.</p>
    <p>I must thank <b>io_23</b> again for totally redoing my old buggy CSS and adding several hundred lines of script.</p>
    <p>Lastly, I would like to extend special thanks to the various members of #kusoplay who, through design suggestions or feature requests, have made this site much better than I could have originally envisioned.</p>
 </article>
{% endblock %}
