Check out my <a href="http://threplays.appspot.com/replays">replay uploader</a> for DDC, ISC, and LoLK!
<br>
Looking for a chat with fellow Touhou/STG players? Come visit us at
<a href="http://mibbit.com/?channel=%23kusoplay&server=irc.rizon.net">#kusoplay</a>
on irc.rizon.net!
