{% set tablesize = 5 %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta name="google-site-verification" content="T0eqqjxV_12DimH3eGA_GfYTFd-g-fPXKGZZMmj48Qg" />

		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		{% block header %}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<script type="text/javascript">
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-40298567-1', 'stgrillz.appspot.com');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div id="wrap">
			<header>
				<a href="/"><img src="/static/images/stgrillz{{ logo }}.png" alt="hello" id="logo"></a>
				<div id="top">
					<div>
						<div>
							<a href="/"><h1>{% block title %}{% endblock %}</h1></a>
							<nav>
							<ul>
								<li><a href="/lite">Lite</a></li>
								<li><a href="/strmlst">Streamer List</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/todo">Todo</a></li>
								<!--<li><a href="/pofv" class="urgent">PoFV</a></li>-->
								<li><a href="/sukoata">Score Attack!</a></li>
								<li><a href="/sing">Sing</a></li>
							</ul>
							</nav>
							<p class="announcement">{% block ad %}{% endblock %}</p>
						</div>
					</div>
				</div>
			</header>
			
			<div id="main">
				{% block content %}
				{% endblock %}
			</div>
			
		</div>
		<footer>
			<nav>
				<a href="mailto:yorgje@hellokitty.com?subject=STGrillz">Contact</a>
				<a href="https://bitbucket.org/yorgje/stgrillz">Help Develop</a>
			</nav>
		</footer>
	</body>
</html>
