<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  {% if Tembed_codes|length == 0 and no_Tembed_codes|length == 0 and TMexplore_codes|length == 0 and TnoMexplore_codes|length == 0 %}
  <meta http-equiv="refresh" content="60;url=/" />
  <title>STGrillz: pls strm ;_;</title>
  {% elif TMexplore_codes|length == 0 and TnoMexplore_codes|length != 0 %}
  <title>STGrillz: Check tha homepage homie</title>
  {% else %}
  <title>STGrillz: New streams!</title>
  {% endif %}

  <!-- JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <!-- GAE Channel -->
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
</head>
<body>
  <div id="header">
  <table>
    <td>
      <a href="/"><img src="/static/images/stgrillz.png" alt="hello" height="250"></a>
    </td>
    <td><table id="header">
      <tr><td colspan="4">
        {% if Tembed_codes|length == 0 and no_Tembed_codes|length == 0 and TMexplore_codes|length == 0 and TnoMexplore_codes|length == 0 %}
        <h1><a href="/" id="h">Grills are waiting warmly...</a></h1>
        {% elif TMexplore_codes|length == 0 and TnoMexplore_codes|length == 0 %}
        <h1><a href="/" id="h">Peeps be streamin on the homepage yo</a></h1>
        {% else %}
        <h1><a href="/" id="h">Explore new 2hu streams!</a></h1>
        {% endif %}
      </td></tr>
      <tr>
        <td><b><a class="light" href="/">Community</a></b></td>
        <td><b><a class="light" href="/strmlst">Streamer List</a></b></td>
        <td><b><a class="light" href="/about">About</a></b></td>
        <td><b><a class="light" href="/todo">The Future</a></b></td>
        <td><b><a class="light" href="/pofv">PoFV Tourney!</a></b></td>
      </tr>
    </table></td>
  </table>
  </div>
  <br>
  {% for name, status, game, image, video, chat in TMexplore_codes %}
  <script type='text/javascript'>
    $(document).ready(function(){
      $('button.hideSelf#{{name}}').click(function(){
        $('div.stream#{{name}}').remove();
      });
      $('button.hideOthers#{{name}}').click(function(){
        $('div.stream:not(#{{name}})').remove();
      });
    });
  </script>

  <div class="stream" id="{{name}}">
  <table class="outer">
    <tr>
    <td>
      <table class="fat">
        <tr>
          <td>
            <img src="{{image}}" alt="kawaii avi" class="avatar">
          </td>
          <td><table>
            <td>
              <tr>
                <td><b>{{status}}</b></td>
                <td><button id="{{name}}" class="hideSelf">Hide {{name}}?</button></td>
              </tr>
              <tr>
                <td><a class="dark" href="http://www.twitch.tv/{{name}}">{{name}}</a> streaming <b>{{game}}</b></td>
                <td><button id="{{name}}" class="hideOthers">Hide others?</button></td>
              </tr>
            </td>
          </table></td>
        </tr>
        <tr>
          <td colspan="3">
            {{video}}
          </td>
        </tr>
      </table>
    </td>
    <td>
      {{chat}}
    </td>
    </tr>
  </table>
  </div>
  <br>
  {% endfor %}
  
<div id="footer">
  <p><b>Contact: </b> Send a 
  <a class="dark" href="http://www.twitch.tv/message/compose?to=yorgje">message to yorgje</a>
  on Twitch, or post in the 
  <a class="dark" href="http://boards.4chan.org/jp/catalog#s=stg">STG thread</a>. 
  I may miss your message if you do the latter though.</p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40298567-1', 'stgrillz.appspot.com');
  ga('send', 'pageview');

</script>
<script>
  channel = new goog.appengine.Channel('token'); 
  socket = channel.open();
  socket.onopen = onOpened;
  socket.onmessage = onMessage;
  socket.onerror = onError;
  socket.onclose = onClose;

  sendMessage = function(path, opt_param) {
    path += '?g=' + state.game_key;
    if (opt_param) {
      path += '&' + opt_param;
    }
    var xhr = new XMLHttpRequest();
    xhr.open('POST', path, true);
    xhr.send();
  };

  onOpened = function() {
    connected = true;
    sendMessage('opened');
    updateBoard();
  };
</script>
</body>
</html>
