{% extends "base.html" %}
{% block header %}
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<meta http-equiv="Expires" content="0">
<META NAME="DESCRIPTION" CONTENT="A collection of Touhou and STG streams">
<META NAME="KEYWORDS" CONTENT="stgrillz, touhou, shmup, stg">
{% if embed_codes|length == 0 %}
<title>STGrillz: pls strm ;_;</title>
{% else %}
<title>STGrillz: PRAY GAME!</title>
{% endif %}
<link rel="stylesheet" type="text/css" href="/static/css/stream.css" />
{% endblock %}
{% block title %}
{% if embed_codes|length == 0 %}
Grills are waiting warmly...
{% else %}
GRILLS ARE PRAYING GAME!
{% endif %}
{% endblock %}
{% block ad %}
{% include "ad.html" %}
{% endblock %}
{% block content %}

{% for name, status, game, image, site, video, chat, channel in embed_codes %}
	<article id="{{name}}" class="stream {{site}}" style="width:1015px;">
		<div class="content">
          <div class="col">
            <header>
              <a href="{{channel}}"><img src="{{image}}" alt="avatar" class="avatar"></a>
              <h3>{{status|e}}</h3>
              <div><a href="{{channel}}">{{name}}</a> streaming <strong>{{game}}</strong></div>
            </header>
            
            {{video}}
         
            <div class="buttons">
              <a href="{{chat}}" target="_blank" class="popupChat"><button>Popup chat</button></a>
            </div>
        </div>
        <iframe class="chat"
          frameborder="0" 
          scrolling="no" 
          id="chat_embed" 
          src="{{chat}}" 
          height="530" 
          width="350">
        </iframe>
		</div>
	</article>
{% endfor %}
{% endblock %}
