{% extends "base.html" %}
{% block header %}
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<meta http-equiv="Expires" content="0">
<META NAME="DESCRIPTION" CONTENT="A collection of Touhou and STG streams">
<META NAME="KEYWORDS" CONTENT="stgrillz, touhou, shmup, stg">
{% if embed_codes|length == 0 %}
<!-- 
<meta http-equiv="refresh" content="60;url=/" />
-->
<title>STGrillz: pls strm ;_;</title>
{% else %}
<title>STGrillz: PRAY GAME!</title>
{% endif %}
<!-- JQuery -->
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type='text/javascript' src="/static/js/main.js" ></script>
<script type='text/javascript' src="/static/js/refresh.js" ></script>
<!--konami-->
<script type="text/javascript" src="http://snaptortoise.github.io/konami-js/konami.js"></script>
<script type="text/javascript">
	var konami = new Konami(function() {$('#wrap').css('background-image','url(/static/images/symmetry.jpg)');});
</script>
<link rel="stylesheet" type="text/css" href="/static/css/stream.css" />
{% endblock %}
{% block title %}
{% if embed_codes|length == 0 %}
Grills are waiting warmly...
{% else %}
GRILLS ARE PRAYING GAME!
{% endif %}
{% endblock %}
{% block ad %}
{% include "ad.html" %}
{% endblock %}
{% block content %}
	<div class="buttons">
		<button class="unhideAll">Show all</button>
		<button class="hideAll">Hide all</button>
		
		<button class="showAllChats">Show chats</button>
		<button class="hideAllChats">Hide chats</button>
		
		<button class="refresh">Refresh</button>
		<button class="toggleRefresh">&#x2713; Auto</button>
	</div>

	<article class="pls">
		<h1>;_;</h1>
	</article>

{% for name, status, game, image, site, video, chat, channel in embed_codes %}
	<article id="{{name}}" class="stream {{site}}">
		<div class="content">
			<div class="col">
				<header>
					<a href="{{channel}}"><img src="{{image}}" alt="avatar" class="avatar"></a>
					<h3>{{status|e}}</h3>
					<div><a href="{{channel}}">{{name}}</a> streaming <strong>{{game}}</strong></div>
				</header>
				
				{{video}}
				
				<div class="buttons">
					<button class="hideSelf">Hide</button>
					<button class="hideOthers">Hide others</button>
					<button class="resizeStream" title="Fit to window - actively resizes; Fixed - locks on current size">Size: default</button>
					<a href="{{chat}}" target="_blank" class="popupChat"><button>Popup chat</button></a>
					<button class="toggleChat">Show chat</button>
				</div>
			</div>
			
			<iframe 
				class="chat hidden" 
				data-url="{{chat}}" 
				src="" 
				height="530" 
				width="350" 
				scrolling="no"
			></iframe>
		</div>
		<div class="hidden placeholder">
			<button class="showSelf">Show {{name}}</button>
			<button class="remove">X</button>
		</div>
	</article>
{% endfor %}
{% endblock %}
