{% extends "base.html" %}
{% block header %}
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<meta http-equiv="Expires" content="0">
<META NAME="DESCRIPTION" CONTENT="A collection of Touhou and STG streams">
<META NAME="KEYWORDS" CONTENT="stgrillz, touhou, shmup, stg">
{% if embed_codes|length == 0 %}
<!-- 
<meta http-equiv="refresh" content="60;url=/" />
-->
<title>STGrillz: pls strm ;_;</title>
{% else %}
<title>STGrillz: LINK 2 GEMU!</title>
<link rel="stylesheet" type="text/css" href="/static/css/stream.css" />
<style type="text/css">
.stream header
{
	margin-bottom: 0 !important;
	min-height: 70px;
}
.avatar
{
	height: 70px;
	width: 70px;
}

</style>
{% endif %}
{% endblock %}
{% block title %}
{% if embed_codes|length == 0 %}
Grills are waiting warmly...
{% else %}
GRILLS ARE PRAYING GAME!
{% endif %}
{% endblock %}
{% block ad %}
{% include "ad.html" %}
{% endblock %}
{% block content %}

{% if embed_codes|length == 0 %}
	<h1 style="font-size:52px; text-align:center;margin-top:72px">;_;</h1>
{% else %}
{% endif %}
{% for name, status, game, image, site, video, chat, channel in embed_codes %}
<article id="{{name}}" class="stream">
	<div class="col">
		<header>
			<a href="{{channel}}"><img src="{{image}}" alt="avatar" class="avatar"></a>
			<h3>{{status|e}}</h3>
			<div><a href="{{channel}}">{{name}}</a> streaming <strong>{{game}}</strong></div>
		</header>
	</div>
</article>
<br>
{% endfor %}
{% endblock %}
