{% extends "base.html" %}
{% block header %}
  <title>Sorree</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
Sorree
{% endblock %}
{% block content %}
<div class="main">
  <h2>Sorry, STGrillz is down for a bit.</h2>
  <p>The API we were using changed, so things are broken for a bit. Hang tight!</p>
</div>
{% endblock %}
