{% extends "base.html" %}
{% block header %}
<title>Oops</title>
{% endblock %}
{% block title %}
Error!
{% endblock %}
{% block content %}
<article class="full">
<p>Either you haven't connected to Twitch, or your Twitch username is "undefined". If the latter, please send me an email about it.</p>
 </article>
{% endblock %}
