{% extends "base.html" %}
{% block header %}
<title>STGrillz: PoFV Tourney!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
STGrillz PoFV Tournament 6!
{% endblock %}
{% block ad %}
<a class="light" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz on irc.rizon.net</a> 
<!--||
<a class="light" href="http://challonge.com/PowerPofvGrillz4">Bracket on Challonge</a>
-->
{% endblock %}
{% block content %}

	<article class="full">
		<h2>Sign up:</h3>
<iframe src="https://docs.google.com/forms/d/1mY9PXcnIieE8OCxIR8rHVLFk65Rcu55nYrjg3zt1BPw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</article>

  <article class="left">
    <h2>Instructions</h2>
    <h3>Before a match:</h3>
    <p>Here's a checklist of things you will need to ask your opponent before a match:</p>
    <ul>
      <li>
        Is it an official match or a warmup?
      </li>
      <li>
        Who's hosting, and on adonis 1 or 2? The hosting player should then tell the client his ip and port.
      </li><li>
        Side preference? In the case of a disagreement, refer to the rules.
      </li><li>
        Stage? If no preference on either side, default to Cirno's for minimal lag.
      </li>
    </ul>
    <h3>After a match:</h3>
		<ul>
			<li>Query me (<strong>Senozza</strong>, not platonicSolid!) on IRC
		with the outcome of your match.</li>
		<li>Create a zip archive with your replays and upload it to
		<a class="dark" href="http://www.dropitto.me/Senozza">http://www.dropitto.me/Senozza</a>
		with the password "stgrillz" no quotes.
		Please name the archive with the player names corresponding to the side they played on.
		E.g. if Senozza played against Yorgje,
		with Senozza on the left side and Yorgje on the right,
		the archive would be called <em>Senozza_vs_Yorgje.zip</em>.</li>
		</ul>
  </article>


  <article class="right">
		<p>
		First: note that this tourney is being run by <strong>Senozza</strong>
		this time around, so send any questions, concerns, or qualms you might have
		to him, not platonicSolid!
		</p>
    <h2>Terminology</h2>
    <p>These are the words I will be using on this page and throughout the tourney:</p>
    <ul>
      <li>Game: A moment at the end of which one player has their health reduced to 0 once.</li>
      <li>Set: Best of three games, i.e. one replay</li>
      <li>Match: Best of three sets, i.e. 2 or 3 replays.</li>
    </ul>

    <h2>Rules</h2>
    <ul>
			<li>
			Everything will be organized from the irc channel 
			<a class="dark" href="http://mibbit.com/?channel=%23pofvgrillz&server=irc.rizon.net">#pofvgrillz on irc.rizon.net</a>,
			so please make sure you can get there before the tourney starts.
			</li>
      <li>Round robin! 
      Everyone fights everyone else. 
			At the start of the tournament, Senozza will pick a date for the final 4 bracket to take place.
      The four players with the most <strong>match wins</strong> at that date will compete in a mini double elimination bracket against each other (seeded by results from the round robin), where their results from this bracket take precedence over their round robin scores. In particular, the winner of this mini bracket will be crowned victor of the whole tourney. 
      
      If a player is disqualified, people who won against that player will lose those wins.
			</li>
      <li>Matches are best of three</li>
			<li>Depending on the number of entries I might expect everyone to play at least 3 matches per day. You will be disqualified if you fall <strong>3 days behind</strong>, i.e. 9 matches, unless you tell me ahead of time that you will be unable to keep up with your matches for a period of time.</li>
      <li>You may play on whatever stage you like. 
			If agreement can't be met, default to Cirno's stage.</li>
			<li>
				For the first match, the player on the top side on challonge may choose the side he plays on.
				After that, it is the loser's choice.
			</li>
      <li>Lunatic difficulty.</li>
      <li>Do not pause, quit, or alt-tab once a match is underway.</li>
      <li>Characters are not declared beforehand (i.e. counter-picking is allowed).</li>
      <li>You may change characters between sets.</li>
			<li> If both players agree a match can't be played for whatever reason, the match will be counted as a tie.</li>
    </ul>
  </article>

  <article class="left">
    <h2>How do I netplay?</h2>
    <p>See <a href="http://pastebin.com/vEiF76Pw" class="dark">this pastebin</a> for a brief guide on setting everything up. 
    You should download
    <a class="dark" href="http://www.mediafire.com/download/h45xp2aa2tu5lnn/pofv-adonis1.zip">adonis1</a>,
    <a class="dark" href="https://dl.dropboxusercontent.com/u/11812361/pofv/adonis2.zip">adonis2</a>, and maybe also 
    <a class="dark" href="http://www.mediafire.com/download/mr60xzw417mx385/pofv-vpatch_adonis.zip">vpatch</a> if you so desire.
    If neither you nor your opponent can host, you will need
    <a class="dark" href="https://secure.logmein.com/products/hamachi/">hamachi</a> to play, so get that as well if you can't host.
    </p><p>
    Please let platonicSolid know if any of these links are broken.
    </p>
  </article>

  <article class="full">
    <h2>Past winners:</h2>
	<ul>
		<li><strong>chum</strong> - claimed victory in the Spring&nbsp;of&nbsp;2013.
    <a href="http://challonge.com/PowerPofvGrillz">Full Bracket</a>
    </li>
    <li><strong>Zil</strong> - claimed victory in the Summer&nbsp;of&nbsp;2013.
    <a href="http://challonge.com/PowerPofvGrillz2">Full Bracket</a>
    </li>
    <li><strong>chum</strong> - claimed victory in the Summer&nbsp;of&nbsp;2014.
    <a href="http://challonge.com/PowerPofvGrillz5">RR Bracket</a>, 
    <a href="http://challonge.com/PowerPofvGrillz5_FINAL">Final Bracket</a>
    </li>
	</ul>
  </article>
{% endblock %}
