{% extends "base.html" %}
{% block header %}
  <title>Error!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
Error!
{% endblock %}
{% block content %}
<article class="full">
  <h2>Sorry, STGrillz is down for a bit.</h2>
  <p>We hit a free quota limit, so the stream aggregator and the streamer list will be down until tomorrow. Sorry!</p>
  <p>While we're down, why not practice <a href="/sing" class="dark">singing</a> a bit?</p>
  <p>Also, since this seems to be a consistent issue, I am going to look into different hosting options. This will most likely not be free, so I am considering adding a donation button and/or advertisements. Please contact me if you have strong opinions about either of these, or know about cheap hosting options.</p>
  <p>For now, as a quick fix, I will be removing the auto-refresh feature of the main page. </p>
</article>
{% endblock %}
