{% extends "base.html" %}
{% block header %}
<title>STGrillz Sing!</title>
{% endblock %}
{% block title %}
STGrillz Sing!
{% endblock %}
{% block content %}
 <article class="full">
    <h2>Twaddle your tongues!</h2>
    <p>
    After countless nights spent deliberating over your many suggestions, I came to the conclusion that Bad Apple would make a good choice due to its moderate tempo and recognizable tune. Don't worry, we'll be doing this for a long time, so we'll get around to your favorites eventually! (If you would like to still recommend things, the form is still up at the bottom of this page).
    </p>
    <p>There's a lot of text this time, so feel free to just do some of it if your romaji is not that good :)</p>
 </article>
 <article class="left">
    <iframe width="420" height="315" src="//www.youtube.com/embed/RNMyjTGGqdY" frameborder="0" allowfullscreen class="video"></iframe>
 </article>
 <article class="right" style="font-size:14px; text-align:center">
	<h2>Lyrics</h2>
    <p>
    Nagareteku toki no naka de demo kedarusa ga hora guruguru mawatte <br/>
    Watashi kara hanareru kokoro mo mienaiwa sou shiranai?
	</p>
    <p>
    Jibun kara ugoku koto mo naku toki no sukima ni nagasare tsuzukete <br/>
    Shiranai wa mawari no koto nado watashi wa watashi sore dake
	</p>
    <p>
    Yume miteru? Nani mo mitenai? Kataru mo muda na jibun no kotoba <br/>
    Kanashimu nante tsukareru dake yo nani mo kanjizu sugoseba ii no
	</p>
    <p>
    Tomadou kotoba ataerarete mo jibun no kokoro tada uwa no sora <br/>
    Moshi watashi kara ugoku no naraba subete kaeru no nara kuro ni suru
	</p>
    <p>
    Konna jibun ni mirai wa aru no? Konna sekai ni watashi wa iru no? <br/>
    Ima setsunai no? Ima kanashii no? Jibun no koto mo wakaranai mama
	</p>
    <p>
    Ayumu koto sae tsukareru dake yo hito no koto nado shiri mo shinaiwa <br/>
    Konna watashi mo kawareru no nara moshi kawareru no nara shiro ni naru
	</p>
    <p>
    Nagareteku toki no naka de demo kedarusa ga hora guruguru mawatte <br/>
    Watashi kara hanareru kokoro mo mienaiwa sou shiranai?
	</p>
    <p>
    Jibun kara ugoku koto mo naku toki no sukima ni nagasare tsuzukete <br/>
    Shiranai wa mawari no koto nado watashi wa watashi sore dake
	</p>
    <p>
    Yume miteru? Nani mo mitenai? Kataru mo muda na jibun no kotoba <br/>
    Kanashimu nante tsukareru dake yo nani mo kanjizu sugoseba ii no
	</p>
    <p>
    Tomadou kotoba ataerarete mo jibun no kokoro tada uwa no sora <br/>
    Moshi watashi kara ugoku no naraba subete kaeru no nara kuro ni suru
	</p>
    <p>
    Ugoku no naraba ugoku no naraba subete kowasuwa subete kowasuwa <br/>
    Kanashimu naraba kanashimu naraba watashi no kokoro shiroku kawareru?
	</p>
    <p>
    Anata no koto mo watashi no koto mo subete no koto mo mada shiranai no <br/>
    Omoi mabuta wo aketa no naraba subete kowasu no nara kuro ni nare!!!
	</p>
	<div>. . . . .</div>
 </article>
 <article class="left">
    <h2>Submisson</h2>
    <p>You can record yourself on <a href="http://vocaroo.com/">Vocaroo</a> for maximum simplicity, or mess around in <a href="http://audacity.sourceforge.net/">Audacity</a> for a bit more control. Upload your voice somewhere, and submit the link below!</p>
    <iframe src="https://docs.google.com/forms/d/1ZR8xpRVYnVqRw4Lv5y5HLB6V3ecaZhIq354GdmHcy-4/viewform?embedded=true" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
 </article>

 <article class="full">
    <h2>Past songs:</h2>
    <iframe width="420" height="315" src="//www.youtube.com/embed/So1o7HUtF9I" frameborder="0" allowfullscreen class="video"></iframe>
    <iframe src="https://docs.google.com/forms/d/1LVSwUsc24PpWh4mo7FvujTWIoeqbnVT2IWT0VD7ou3A/viewform?embedded=true" height="420" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
 </article>
{% endblock %}
