{% extends "base.html" %}
{% block header %}
<title>STGrillz Sing!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
STGrillz Sing!
{% endblock %}
{% block content %}
<div class="main">
<iframe width="420" height="315" src="//www.youtube.com/embed/So1o7HUtF9I" frameborder="0" allowfullscreen></iframe>
<p>Thanks for participating everyone! If you have any interest in doing this again, let me know what songs you would like to sing!</p>

<iframe src="https://docs.google.com/forms/d/1LVSwUsc24PpWh4mo7FvujTWIoeqbnVT2IWT0VD7ou3A/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
{% endblock %}
