<article id="{{name}}" class="stream {{site}}">
	<div class="content">
		<div class="col">
			<header>
				<a href="{{channel}}"><img src="{{image}}" alt="avatar" class="avatar"></a>
				<h3>{{status|e}}</h3>
				<div><a href="{{channel}}">{{name}}</a> streaming <strong>{{game}}</strong></div>
			</header>
			
			{{video}}
			
			<div class="buttons">
				<button class="hideSelf">Hide</button>
				<button class="hideOthers">Hide others</button>
				<button class="resizeStream" title="Fit to window - actively resizes; Fixed - locks on current size">Size: default</button>
				<a href="{{chat}}" target="_blank" class="popupChat"><button>Popup chat</button></a>
				<button class="toggleChat">Show chat</button>
			</div>
		</div>
		
		<iframe 
			class="chat hidden" 
			data-url="{{chat}}" 
			src="" 
			height="530" 
			width="350" 
			scrolling="no"
		></iframe>
	</div>
	<div class="hidden placeholder">
		<button class="showSelf">Show {{name}}</button>
		<button class="remove">X</button>
	</div>
</article>