{% extends "base.html" %}
{% block header %}
<title>STGrillz: List of Streamers</title>
<style type="text/css">
	/*cascading style sheets a shit, why do I have to use !important in embed style?!
	ok I know why but it should have higher priority over external style
	w3c pls*/
	li
	{
		margin-bottom: 7px !important;
	}
	li a
	{
		font-weight: bold;
	}
	li form
	{
		display: inline;
	}
	.grayed a
	{
		color: #898989;
		font-weight: normal;
	}
	li input
	{
		font-size: 11px !important;
		padding: 1px 5px !important;
	}
</style>
{% endblock %}
{% block title %}
Who streams?
{% endblock %}
{% block content %}
<article class="left">
<h2>Here are the people who stream~</h2>
<div style="float:left">
  <h3>on Twitch</h3>
  <ul>
    {% for twitcher in twitchers %}
    <li>

    <a href="http://www.twitch.tv/{{twitcher}}">{{twitcher|e}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div style="float:left; margin-left: 50px">
  <h3>on Hitbox</h3>
  <ul>
    {% for hitboxer in hitboxers %}
    <li>
    <a href="http://www.hitbox.tv/{{hitboxer}}">{{hitboxer|e}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
</article>
<article class="right">
<p><img src="/static/images/connect_to_twitch.png" class="twitch-connect" style="cursor:pointer" /></p>
<p>You are currently logged in as <strong id="username"></strong></p>
<h3>Use the button below to add yourself to the site!</h3>
<p>Note that this site is an aggregator for streamers who <i>primarily</i> stream Touhou games, with particular emphasis on the main games, although the fighting games and fangames are tolerable. Other STGs are welcomed as well. It's not unusual for people who normally stream Touhou to occasionally stream other games, and this is fine, but I would prefer if you didn't add yourself if you primarily stream other games with occasional forays into Touhou.</p>


<form name="addform" action="/addtwitch" method="post">
  <input type="hidden" name="login">
  <input type="submit" value="Add my Twitch channel" onclick="setName1(getUsername())">
</form>
<script>
  function setName1(name){
    document.addform.login.value=name;
  }
</script>


<p>You can also add someone who streams Hitbox.tv:</p>

<!--
<form action="/addhash" method="post">
  <input type="text" name="login">
  <input type="submit" value="Add Hasher">
</form>
-->

<form action="/addhitbox" method="post">
  <input type="text" name="login">
  <input type="submit" value="Add Hitboxer">
</form>

<p>Note: you only need to type in your username (e.g. "yorgje"), not your whole channel url (e.g. "http://www.hitbox.tv/yorgje"). In fact, the latter won't even work.</p>

<h3>Use the button below to remove yourself from this site</h3>
<form name="removeform" action="/removetwitch" method="post">
  <input type="hidden" name="username">
  <input type="submit" value="Remove me" onclick="setName2(getUsername())">
</form>
<script>
  function setName2(name){
    document.removeform.username.value=name;
  }
</script>

</article>

<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script type='text/javascript' src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>


<script type='text/javascript'>
  var username;
  Twitch.init({clientId: '4v9g0bbz0djpj2n75caie0dudrkf2gz'}, function(error, status) {
      // the sdk is now loaded

      if (status.authenticated) {
        // Already logged in, hide button
        $('.twitch-connect').hide()
      }

      Twitch.api({method: 'channel'}, function(error, channel){
          username = channel.name;
          var place = document.getElementById("username");
          place.innerHTML=username;
        });


    $('.twitch-connect').click(function() {
      Twitch.login({
        scope: ['user_read', 'channel_read']
        });
      });
  });


  /*
  function getUsername(){
    while (typeof username == "undefined"){
    }
    return username;
  }
  */

function getUsername(){
  return username;
}

</script>
{% endblock %}
