{% extends "base.html" %}
{% block header %}
<title>STGrillz: Score Attack!</title>
{% endblock %}
{% block stylesheet %}sub.css{% endblock %}
{% block title %}
Score Attack!
{% endblock %}
{% block ad %}
<a class="light" href="http://goo.gl/b1pcga">Rules</a>
||
<a class="light" href="http://goo.gl/RCpUJx">Teams</a>
||
<a class="light" href="http://goo.gl/JQlaop">Schedule</a>
||
<a class="light" href="https://dl.dropboxusercontent.com/u/11812361/sukoata/results.txt">Results</a>
{% endblock %}
{% block content %}
<article class="full">
	<h2>ANNOUNCEMENTS</h2>
	<p>
	At long last, the
	<a class="dark" href="https://dl.dropboxusercontent.com/u/11812361/sukoata/results.txt">results</a>
	are in!
	Congrats to Team 2 who won somehow only narrowly won!
	See you all next year. If you have any feedback, please find me on IRC 
	or drop me an <a href="mailto:yorgje@hellokitty.com">email</a>.
	</p>
</article>
<article class="left">
	<h2>Rules</h2>
	<p>
	For a full breakdown of how the points system will work, please refer to
	the official always-up-to-date
	<a class="dark" href="http://goo.gl/b1pcga">rules</a>.
	</p>
	<p>Below is a brief summary of the tournament format:</p>
	<ul>
		<li>
			I will divide the participants into two teams,
			and determine which categories they will play based on information
			provided on sign-up.
		</li>
		<li>
			The two designated players for each category (one from each team)
			will arrange a time they can both play during the weekend of July 17-19,
			and their gameplay will be showcased in a livestream with commentary.
		</li>
		<li>
			Through formulas prescribed in the official rules,
			a player's performance in each game will result in
			their team receiving some number of points.
		</li>
		<li>
			The team with the most points at the end wins!
		</li>
	</ul>
	<p>
		Hopefully this gives you a decent idea of how this works.
		Please read the full ruleset though,
		especially in the game you are interested in playing.
		If anything is still unclear, you can always
		<a href="mailto:yorgje@hellokitty.com?subject=SukoAta">contact me</a>.
	</p>
</article>

<article class="right">
	<h2>FAQ</h2>
	<ul>
		<li>Where is the tourney?</li>
		<p>
		All matches will be streamed from 
		<a class="dark" href="http://www.hitbox.tv/yorgje">yorgje's hitbox</a>.
		In the case of technical difficulties, we will instead use
		<a class="dark" href="http://www.twitch.tv/yorgieporgie">yorgje's twitch</a>.
		</p>
		<li>When is the tourney?</li>
		<p>
		<!--
			See
			<a class="light" href="http://goo.gl/JQlaop">the schedule</a>
			for exact times when things are being played.
			-->
		It will be spread over the weekends of July 11-12 and July 17-19.
		</p>
		<li>Where the heck do those point formulas come from?</li>
		<p>
			Here's a brief motivation. For the score formulas, 
			the squaring is supposed to model the increased difficulty
			of further raising your score as your score gets higher,
			and the denominator is a scaling factor between games.
		</p>
		<p>
			For the survival formulas, the basic idea is to reward successful
			no-bomb runs, and then to throw in fun bonus points to add
			additional interest at difficult portions.
		</p>
		<p>
			Many of the basic ideas are adapted from
			<a href="http://blog-imgs-52.fc2.com/n/i/g/nigirimotojime/20131124004618eb8.txt">Clio's notes</a>.
			The specifics have been tweaked based on superplayer input
			and observations made during last year's Sukoata.
		</p>
		<li>How will everything be organized?</li>
		<p>
			There are two channels on irc.rizon.net,
			<a class="dark" href="http://mibbit.com/?channel=%23sukoata1&server=irc.rizon.net">#sukoata1</a>
			and
			<a class="dark" href="http://mibbit.com/?channel=%23sukoata2&server=irc.rizon.net">#sukoata2</a>
			where the teams will be coordinating,
			although they are welcome to use whatever alternative methods they choose.
			Please don't join the channel of the opposing team;
			you will be kicked!
			I will also sending private messages and stuff to people to
			coordinate various little details.
		</p>
		<li>My question isn't here!</li>
		<p>Please always feel free to
		<a href="mailto:yorgje@hellokitty.com?subject=SukoAta">email me</a>
		or query platonicSolid on irc.rizon.net
		if you have concerns. </p>
	</ul>
</article>
{% endblock %}
