{% extends "base.html" %}
{% block header %}
<title>STGrillz: The Future</title>
{% endblock %}
{% block title %}
Pending feature list
{% endblock %}
{% block content %}
<article class="full">
    <p>The following are things that I think can be somewhat easily changed. However, expect progress to be sort of slow right now, since I'm busy as an undercover NEET:<p>
    <ul>
    <li><p>Autohide feature:
		  At some point, you were able to hide streamers by clicking a hide button
			next to their name on the streamerlist, but it never really worked 100% and
			somewhere along the way just got totally broken. I would like to try and bring
			it back sometime!
		</p>
    <li><p>AJAX goodness:
		 It would be really nice if, instead of waiting forever for the main page to
		 load, a page outline loaded and then I called the stream site APIs via AJAX
		 to bring the streams as they loaded, rather than loading everything when you
		 initially call the page, before you can see anything.
    </p>
    </ul>
    <p>
    Please request features you would like to see! I can't guarantee I'll fulfill them (see below), but I will try my best.
    </p>
    <img src="/static/images/yeah.png" alt="yeah!" style="display:block; margin-left:auto; margin-right:auto" height="250"/>
    <p>
    Unfortunately, there are a couple of tasks that will not, deplorably, be fixed in the near future:
    </p>
    <ul>
		<li><p> Livestream support: 
		Livestream is a big meany poop about it's API, you have to be approved and have a signed agreement to use their Guide API, so until it goes public, I'm not going to bother. Sorry Livestreamers. The same goes for Gamecreds, who didn't have any API at all last I checked.
		</p>
    </ul>
</article>
{% endblock %}
