{% extends "base.html" %}
{% block header %}
  <title>pls no bully</title>
{% endblock %}
{% block stylesheet %}style.css{% endblock %}
{% block title %}
Twitch is being mean >:(
{% endblock %}
{% block content %}
  <h2 style="text-align:center; color:#fff; margin-top: 72px;">Twitch is having problems. Please try to refresh after waiting a bit.</h2>
{% endblock %}
